.container-card{
    width: 100%;
    height: 74vh;
    background-color: rgb(37, 37, 37);
    .card{
        width: calc(90% / 5);
        height: 200px;
        margin: auto;
        text-align: center;
        color: rgb(85, 85, 235);
    }
}